@using Tasaryeri.DAL.Enums;
@model IEnumerable<OrderDTO>


<div class="table-responsive">
    <br />
    <div class="row">
        <div class="col">
            <h2>Siparişlerim</h2>
        </div>
        <div class="col">
            <h2>
                @if (TempData["UpdateInfo"] != null)
                {
                    @Html.Raw(TempData["UpdateInfo"])
                }
            </h2>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="180px">Sipariş Durumu</th>
                <th>Ürün Görseli</th>
                <th>Ürün Adı</th>
                <th>Alıcı Adı Soyadı</th>
                <th>Şehir</th>
                <th>Adres</th>
                <th>ZipCode</th>
                <th>Sipariş Tarihi</th>
                <th>Sipariş Notu</th>
                <th>Sipariş Miktarı</th>
                <th>Tutar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none">@item.ID</td>
                    <td>
                        <select class="form-control">
                            <option>@item.OrderStatus</option>
                            @if (item.OrderStatus != @EOrderStatus.Hazırlanıyor)
                            {
                                <option>@EOrderStatus.Hazırlanıyor</option>
                            }
                            @if (item.OrderStatus != @EOrderStatus.Paketlendi)
                            {
                                <option>@EOrderStatus.Paketlendi</option>
                            }
                            @if (item.OrderStatus != @EOrderStatus.KargoyaVerildi)
                            {
                                <option>@EOrderStatus.KargoyaVerildi</option>
                            }
                            @if (item.OrderStatus != @EOrderStatus.TeslimEdildi)
                            {
                                <option>@EOrderStatus.TeslimEdildi</option>
                            }
                            @if (item.OrderStatus != @EOrderStatus.İptalEdildi)
                            {
                                <option>@EOrderStatus.İptalEdildi</option>
                            }
                        </select>
                    </td>
                    <td><img width="120" height="120" src="/@item.Picture" /></td>
                    <td>@item.ProductName</td>
                    <td>@item.Name @item.Surname</td>
                    <td>@item.City</td>
                    <td>@item.Address</td>
                    <td>@item.ZipCode</td>
                    <td>@item.RecDate</td>
                    <td>@item.Detail</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>