@using Tasaryeri.WebUI.Models;
@model List<ShoppingCart>

<link rel="stylesheet" href="/assetsUI/css/ShoppingCart.css" />
<br />
<br />
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col text-center"><h4><b>Sepetim</b></h4></div>
                </div>
            </div>
            @{
                decimal totalPrice = 0;
            }
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="/@item.Picture"></div>
                        <div class="col">
                            <div class="row">@item.Name</div>
                        </div>
                        <div class="col" style="display:flex;">
                            <div class="row"><i onclick="minusquantity(@item.ProductId)" class="fa fa-minus" style="color:black;margin-top:3px;cursor:pointer;" aria-hidden="true"></i></div>
                            <div class="row" id="ProductQuantity">@item.Quantity Adet</div>
                            <div class="row"><i onclick="plusquantity(@item.ProductId)" class="fa fa-plus" style="color:black;margin-top:2px;cursor:pointer;" aria-hidden="true"></i></div>
                        </div>
                        <div class="col">@item.Price TL   <span onclick="removeCart(@item.ProductId)" style="cursor:pointer;font-size:x-large;color:red;" class="close"> &nbsp &nbsp &#10005;</span></div>
                    </div>
                </div>
                totalPrice += item.Price * item.Quantity;
            }
        </div>
        <div class="col-md-4 summary">
            <div class="text-center"><h5><b>Özet</b></h5></div>
            <hr>
            <p>İndirim Kuponu</p>
            <input id="code" placeholder="Kupon Kodu">
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">Toplam Tutar</div>
                <div class="col text-right">@totalPrice TL</div>
            </div>
            <a asp-controller="ShoppingCart" asp-action="Complete" style="border-radius:6px;" class="btn">Alışverişi Tamamla</a>
        </div>
    </div>
</div>
<br />
<br />