@model AboutUsVM

<div class="table-responsive">
    <br />
    <div class="row">
        <div class="col">
            <h2>Hakkımızda</h2>
        </div>
        <div class="col">
            <h2>
                @if (TempData["AddAboutUsInfo"] != null)
                {
                    @Html.Raw(TempData["AddAboutUsInfo"])
                }
                @if (TempData["UpdateAboutUsInfo"] != null)
                {
                    @Html.Raw(TempData["UpdateAboutUsInfo"])
                }
            </h2>
        </div>

        <div class="col"><a class="btn btn-success btn-lg" onclick="showModalAddAboutUs(this.name)" style="float:right;color:#fff">Yeni Kayıt Ekle</a></div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Başlık</th>
                <th>Açıklama</th>
                <th>Görüntülenme Sırası</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AboutUsDTOs)
            {
                <tr>
                    <td style="display:none">@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.DisplayIndex</td>
                    <td><button style="border:none" id="@item.Id,/,/@item.Name,/,/@item.Description,/,/@item.DisplayIndex" onclick="showModalUpdateAboutUs(this.id)"><i class="fa fa-edit fa-2x"></i></button></td>
                    <td>
                        <button style="border:none" onclick="confirmDeleteAboutUs(@item.Id)"><i class="fa fa-trash fa-2x"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div id="myModalAddAboutUs" class="modal">
    <div class="modal-content">
        <div class="x_panel">
            <div class="x_title">
                <h1>Hakkımızda Ekle</h1>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form method="post" asp-action="AddAboutUs" class="form-label-left input_mask">

                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AboutUsDTO.Name"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required class="form-control" value="" asp-for="@Model.AboutUsDTO.Name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AboutUsDTO.Description"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required class="form-control" value="" asp-for="@Model.AboutUsDTO.Description">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AboutUsDTO.DisplayIndex"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required class="form-control" value="" asp-for="@Model.AboutUsDTO.DisplayIndex">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group row">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button class="btn btn-primary" type="reset">Yenile</button>
                            <button type="submit" class="btn btn-success">Ekle</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="myModalUpdateAboutUs" class="modal">
    <div class="modal-content">
        <div class="x_panel">
            <div class="x_title">
                <h1>Hakkımızda Düzenle</h1>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form method="post" asp-action="UpdateAboutUs" class="form-label-left input_mask">
                    <input type="hidden" asp-for="@Model.AboutUsDTO.Id" id="id" />

                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AboutUsDTO.Name"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required id="AboutUsName" class="form-control" asp-for="@Model.AboutUsDTO.Name">
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AboutUsDTO.Description"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required id="AboutUsDescription" class="form-control" asp-for="@Model.AboutUsDTO.Description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AboutUsDTO.DisplayIndex"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required id="DisplayIndex" class="form-control" asp-for="@Model.AboutUsDTO.DisplayIndex">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group row">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button class="btn btn-primary" type="reset">Yenile</button>
                            <button type="submit" class="btn btn-success">Güncelle</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



