@model CategoryVM


<div class="table-responsive">
    <br />
    <div class="row">
        <div class="col">
            <h2>Ana Kategoriler</h2>
        </div>
        <div class="col">
            <h2>
                @if (TempData["AddInfo"] != null)
                {
                    @Html.Raw(TempData["AddInfo"])
                }
                @if (TempData["UpdateInfo"] != null)
                {
                    @Html.Raw(TempData["UpdateInfo"])
                }
            </h2>
        </div>

        <div class="col"><a class="btn btn-success btn-lg" onclick="showModalAddMainCat(this.name)" style="float:right;color:#fff">Yeni Kayıt Ekle</a></div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Kategori Adı</th>
                <th>Görüntülenme Sırası</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MainCategoryDTO)
            {
                <tr>
                    <td style="display:none">@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.DisplayIndex</td>
                    <td><button style="border:none" id="@item.Id,@item.Name,@item.DisplayIndex" onclick="showModalUpdateMainCat(this.id)"><i class="fa fa-edit fa-2x"></i></button></td>
                    <td>
                        <button style="border:none" onclick="confirmDeleteMainCat(@item.Id)"><i class="fa fa-trash fa-2x"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<hr />
<br />

<div class="table-responsive">
    <br />
    <div class="row">
        <div class="col">
            <h2>Alt Kategoriler</h2>
        </div>
        <div class="col">
            <h2>
                @if (TempData["AddInfo"] != null)
                {
                    @Html.Raw(TempData["AddInfo"])
                }
                @if (TempData["UpdateInfo"] != null)
                {
                    @Html.Raw(TempData["UpdateInfo"])
                }
            </h2>
        </div>

        <div class="col"><a class="btn btn-success btn-lg" onclick="showModalAdd(this.name)" style="float:right;color:#fff">Yeni Kayıt Ekle</a></div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Alt Kategori Adı</th>
                <th>Bağlı Olduğu Ana Kategori Adı</th>
                <td>Görüntülenme Sırası</td>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SubCategoryDTO)
            {
                <tr>
                    <td style="display:none">@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.MainCategoryDTO.Name</td>
                    <td>@item.DisplayIndex</td>
                    <td><button style="border:none" id="@item.Id,@item.Name,@item.DisplayIndex" onclick="showModalUpdateMainCat(this.id)"><i class="fa fa-edit fa-2x"></i></button></td>
                    <td>
                        <button style="border:none" onclick="confirmDeleteSubCat(@item.Id)"><i class="fa fa-trash fa-2x"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div id="myModalAddMainCat" class="modal">
    <div class="modal-content">
        <div class="x_panel">
            <div class="x_title">
                <h1>Ana Kategori Ekle</h1>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form method="post" asp-action="AddMainCategory" class="form-label-left input_mask">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.MainCategoryDTO1.Name"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required class="form-control" asp-for="@Model.MainCategoryDTO1.Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.MainCategoryDTO1.DisplayIndex"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required class="form-control" asp-for="@Model.MainCategoryDTO1.DisplayIndex">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group row">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button class="btn btn-primary" type="reset">Yenile</button>
                            <button type="submit" class="btn btn-success">Ekle</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<div id="myModalUpdateMainCat" class="modal">
    <div class="modal-content">
        <div class="x_panel">
            <div class="x_title">
                <h1>Admin Düzenle</h1>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form method="post" asp-action="UpdateMainCategory" class="form-label-left input_mask">
                    <input type="hidden" asp-for="@Model.MainCategoryDTO1.Id" id="id" />

                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.MainCategoryDTO1.Name"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required id="name" class="form-control" asp-for="@Model.MainCategoryDTO1.Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.MainCategoryDTO1.DisplayIndex"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required id="displayindex" class="form-control" asp-for="@Model.MainCategoryDTO1.DisplayIndex">
                        </div>
                    </div>
                

                    <div class="ln_solid"></div>
                    <div class="form-group row">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button class="btn btn-primary" type="reset">Yenile</button>
                            <button type="submit" class="btn btn-success">Güncelle</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
