@*@model CategoryVM


<div class="table-responsive">
    <br />
    <div class="row">
        <div class="col">
            <h2>Adminler</h2>
        </div>
        <div class="col">
            <h2>
                @if (TempData["AddInfo"] != null)
                {
                    @Html.Raw(TempData["AddInfo"])
                }
                @if (TempData["UpdateInfo"] != null)
                {
                    @Html.Raw(TempData["UpdateInfo"])
                }
            </h2>
        </div>

        <div class="col"><a class="btn btn-success btn-lg" onclick="showModalAdd(this.name)" style="float:right;color:#fff">Yeni Kayıt Ekle</a></div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Kullanıcı Adı</th>
                <th>Şifre</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AdminDTOList)
            {
                <tr>
                    <td style="display:none">@item.ID</td>
                    <td>@item.UserName</td>
                    <td>@item.Password</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td><button style="border:none" id="@item.ID,@item.Name,@item.Surname,@item.UserName,@item.Password" onclick="showModalUpdate(this.id)"><i class="fa fa-edit fa-2x"></i></button></td>
                    <td>
                        <button style="border:none" onclick="confirmDelete(@item.ID)"><i class="fa fa-trash fa-2x"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div id="myModalAdd" class="modal">
    <div class="modal-content">
        <div class="x_panel">
            <div class="x_title">
                <h1>Admin Ekle</h1>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form method="post" asp-action="Add" class="form-label-left input_mask">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AdminDTO.Name"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required class="form-control" asp-for="@Model.AdminDTO.Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AdminDTO.Surname"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required class="form-control" asp-for="@Model.AdminDTO.Surname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AdminDTO.UserName"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required class="form-control" asp-for="@Model.AdminDTO.UserName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AdminDTO.Password"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required class="form-control" asp-for="@Model.AdminDTO.Password">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group row">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button class="btn btn-primary" type="reset">Yenile</button>
                            <button type="submit" class="btn btn-success">Ekle</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="myModalUpdate" class="modal">
    <div class="modal-content">
        <div class="x_panel">
            <div class="x_title">
                <h1>Admin Düzenle</h1>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form method="post" asp-action="Update" class="form-label-left input_mask">
                    <input type="hidden" asp-for="@Model.AdminDTO.ID" id="id" />

                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AdminDTO.Name"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required id="name" class="form-control" asp-for="@Model.AdminDTO.Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AdminDTO.Surname"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required id="surname" class="form-control" asp-for="@Model.AdminDTO.Surname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AdminDTO.UserName"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required id="username" class="form-control" asp-for="@Model.AdminDTO.UserName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.AdminDTO.Password"></label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" required id="password" asp-for="@Model.AdminDTO.Password" class="form-control">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group row">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button class="btn btn-primary" type="reset">Yenile</button>
                            <button type="submit" class="btn btn-success">Güncelle</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
*@