@model IEnumerable<AdminDTO>



<div class="table-responsive">
    <br />
    <div class="row">
        <div class="col"><h2>Adminler</h2></div>
        <div class="col"><a asp-action="Add" class="btn btn-success btn-lg" style="float:right;color:#fff">Yeni Kayıt Ekle</a></div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Kullanıcı Adı</th>
                <th>Şifre</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none">@item.ID</td>
                    <td>@item.UserName</td>
                    <td>@item.Password</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td><a asp-action="Update" asp-route-id="@item.ID"><i class="fa fa-edit fa-2x"></i></a></td>
                    <td>
                        <button style="border:none" onclick="confirmDelete(@item.ID)"><i class="fa fa-trash fa-2x"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>

  
</script>