@using Tasaryeri.BL.Dtos;
@model SendMessageVM

<link rel="stylesheet" href="/chatCss/StyleSheet.css" />

<br />
<br />


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <ul class="list-unstyled chat-list mt-2 mb-0">
                        @foreach (var item in Model.OldMessages)
                        {
                            <li class="clearfix">
                                <a asp-controller="Messages" asp-action="SendMessage" asp-route-salerId="@item.SalerId" asp-route-productId="@item.ProductId">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                    <div class="about">
                                        <div class="name">@item.SalerDTO.Name @item.SalerDTO.Surname</div>
                                        <div class="name">@item.Product.Name</div>
                                        <i>@item.Product.Price TL</i>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0">@Model.SalerDTO.Name @Model.SalerDTO.Surname</h6>
                                    <i>@Model.productDTO.Name / @Model.productDTO.Price TL / @Model.productDTO.Stock Adet Kaldı</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-history">
                        <ul class="m-b-0">

                            @foreach (var item in Model.Messages)
                            {
                                if (item.Sender == "Member")
                                {
                                    <li class="clearfix">
                                        <div class="message-data text-right">
                                        </div>
                                        <div class="message other-message float-right" style="max-width:50%">
                                            <span>@item.Timestamp</span>
                                            <br />
                                            @item.Content
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li style="max-width:50%" class="clearfix">
                                        <div class="message-data ">
                                        </div>
                                        <div class="message other-message">
                                            <span>@item.Timestamp</span>
                                            <br />
                                            @item.Content
                                        </div>
                                    </li>
                                }

                            }
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="mb-0">
                            <form asp-controller="Messages" asp-action="SendMessage" method="post">
                                <div class="row">
                                    <div class="col-1"><button class="input-group-text" style="width:100%;height:100%"><i class="fa fa-send"></i></button></div>
                                    <div class="col-11"><input type="text" asp-for="@Model.MessageDTO.Content" class="form-control" placeholder="Mesajınız ..."></div>
                                    <input asp-for="@Model.MessageDTO.ProductId" type="hidden" />
                                    <input asp-for="@Model.MessageDTO.MemberId" type="hidden" />
                                    <input asp-for="@Model.MessageDTO.SalerId" type="hidden" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
