@model ProductPictureDTO


<div class="x_content">
    <br />
    <form method="post" asp-action="Edit" class="form-label-left input_mask">
        <input type="hidden" asp-for="@Model.Id" id="id" />
        <input type="hidden" asp-for="@Model.ProductID" />
        <input type="hidden" asp-for="@Model.Picture" />

        <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.Name"></label>
            <div class="col-md-9 col-sm-9 ">
                <input type="text" required id="name" class="form-control" asp-for="@Model.Name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 " asp-for="@Model.DisplayIndex"></label>
            <div class="col-md-9 col-sm-9 ">
                <input type="text" required id="surname" class="form-control" asp-for="@Model.DisplayIndex">
            </div>
        </div>
      


        <div class="ln_solid"></div>
        <div class="form-group row">
            <div class="col-md-9 col-sm-9  offset-md-3">
                <button class="btn btn-primary" type="reset">Yenile</button>
                <button type="submit" class="btn btn-success">Güncelle</button>
            </div>
        </div>

    </form>
</div>
     
