@using Tasaryeri.BL.Dtos;
@model ProductDetailVM

<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    @foreach (var item in Model.productDTO.ProductPictures)
                    {
                        <img class="card-img img-fluid" src="/@item.Picture" alt="@item.Name" id="product-detail">
                        break;
                    }
                </div>
                <div class="row">
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-dark fas fa-chevron-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">

                                    @foreach (var item in Model.productDTO.ProductPictures)
                                    {
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/@item.Picture" alt="@item.Name">
                                            </a>
                                        </div>
                                    }

                                </div>
                            </div>
                            <!--/.First slide-->
                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-dark fas fa-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body" style="padding:50px">
                        <h1 class="h2">@Model.productDTO.Name</h1>
                        <p class="h3 py-2">@Model.productDTO.Price TL</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Stok</h6>
                            </li>
                            <li class="list-inline-item">
                                <p>@Model.productDTO.Stock Adet Kaldı</p>
                            </li>
                        </ul>

                        <h6>Açıklama</h6>
                        <p>@Model.productDTO.Description</p>

                        <h6>Detay</h6>
                        <p>@Html.Raw(Model.productDTO.Detail)</p>

                        <form>
                            <div class="row pb-3">
                                <div class="col d-grid">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            Quantity
                                            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                        <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                    </ul>
                                </div>
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Sepete Ekle</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <p class="h3 text-dark text-decoration-none text-center">Göz Atmaya Devam Edin</p>
        <div class="row">
            @foreach (var item in Model.productDTOs)
            {
                <partial name="_Product" model="@item" />
            }
        </div>
        <!-- Close Content -->
    </div>
</section>
