@model IEnumerable<ProductDTO>

<div class="table-responsive">
    <br />
    <div class="row">
        <div class="col">
            <h2>Ürünlerim</h2>
        </div>
        <div class="col">
            <h2>
                @if (TempData["AddInfo"] != null)
                {
                    @Html.Raw(TempData["AddInfo"])
                }
                @if (TempData["UpdateInfo"] != null)
                {
                    @Html.Raw(TempData["UpdateInfo"])
                }
            </h2>
        </div>

        <div class="col"><a class="btn btn-success btn-lg" asp-area="saler" asp-controller="SalerProduct" asp-action="Add" style="float:right;color:#fff">Yeni Ürün Ekle</a></div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Açıklaması</th>
                <th>Detayları</th>
                <th>Fiyat</th>
                <th>Stok Miktarı</th>
                <th>Bulunduğu Kategoriler</th>
                <th>Resimler</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none">@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@Html.Raw(item.Detail)</td>
                    <td>@item.Price</td>
                    <td>@item.Stock</td>
                    <td>
                        @{
                            string x = "";
                            string allCategories = "";
                        }
                        @foreach (var item1 in item.ProductCategories)
                        {
                            x = $"{item1.CategoryName},";
                            @x

                            allCategories += x;
                            x = "";

                        }
                    </td>
                    <td><a style="color:black" asp-area="saler" asp-controller="ProductPicture" asp-action="Index" asp-route-productid="@item.Id"><i class="fa fa-edit fa-2x"></i></a></td>
                    <td><a style="color:black" asp-area="saler" asp-controller="SalerProduct" asp-action="Update" asp-route-id="@item.Id" asp-route-categories="@allCategories"><i class="fa fa-edit fa-2x"></i></a></td>
                    <td>
                        <button style="border:none" onclick="confirmDeleteProduct(@item.Id)"><i class="fa fa-trash fa-2x"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>