@model FooterVM
<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Tasaryeri</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    @foreach (var item in Model.ContactDTOs)
                    {
                        <li>
                            <i class="@item.ContactType"></i>
                            @item.ContactInfo
                        </li>
                    }
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Kurumsal</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    @foreach (var item in Model.InstitutionalDTOs)
                    {
                        <li><a class="text-decoration-none" asp-controller="Home" asp-action="InstitutionalAndAboutUs" asp-route-name="@item.Name" asp-route-description="@item.Description">@item.Name</a></li>
                    }

                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Hakkımızda</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    @foreach (var item in Model.AboutUsDTOs)
                    {
                        <li><a class="text-decoration-none" asp-controller="Home" asp-action="InstitutionalAndAboutUs" asp-route-name="@item.Name" asp-route-description="@item.Description">@item.Name</a></li>
                    }

                </ul>
            </div>

        </div>

        <div class="row text-light mb-4 ">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col me-auto text-center">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="@Model.SocialMediaDTO.FacebookLink">
                            <i class="fab fa-facebook-f fa-lg fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank"
                           href="@Model.SocialMediaDTO.InstagramLink"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="@Model.SocialMediaDTO.TwitterLink">
                            <i class="fab fa-twitter fa-lg fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank"
                           href="@Model.SocialMediaDTO.YoutubeLink"><i class="fab fa-youtube fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-center text-light">
                        Copyright &copy; 2023 Tasaryeri
                        | Designed by Ağacan
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->